//!MAPAS
$title: (
  wid: 100%,
  hei: 90vh,
  bg-re: no-repeat,
  bg-si: cover,
  bg-po: center,
  bg-at: fixed,
  disp: flex,
  jus-cont: center,
  ali-it: center,
);
//!EXTEND
%subtitle {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
  margin: 20px;
}
